*{
    margin:0;
    padding:0;
    text-align: center;
    color:white;;
    
    

}


h1{
  margin-top:5%;
  font-size:8vmin;

}

.choices {
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  gap:3rem;
  margin-top:110px;
  flex-wrap: wrap;

}

.choice{
  width:90%;
  max-width:350px;
  display:flex;
  justify-content:center;
  align-items: center;
    
}

.choice:hover{
  opacity:0.7;
  cursor:pointer;
  transform:scale(1.15);
}

.choice img{
    
    width:80%;
    height:auto;
    max-width: 200px;
    border-radius:50%;
    object-fit:cover;
    transition: transform 0.3s ease; 
}

@media (max-width: 1024px) {
  .choice img {
    max-width: 120px;
  }
}

/* Mobile screens */
@media (max-width: 600px) {
  .choice img {
    max-width: 90px;
  }
}



.score-board{
  display:flex;
  justify-content: center;
  align-items:center;
  font-size:6vmin;
  gap:10rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

#userscore,#computerscore{
  font-size:4rem;
}

.msgcontainer{
  margin-top: 3rem;
}

#msg{

  font-size:4vmin;
  background-color:darkcyan;
  display: inline-block;
  padding:1rem 2rem;
  border-radius:1rem;
  
}


#background-video {
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}