*{
    margin:0;
    padding: 0;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background: url("background.jpg");
    background-size:cover;
   
    
}

.container{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    padding:2rem;
    border-radius: 1rem;
    min-height:60vh;
    width:50vh;
   

}
h1{
text-align: center;
font-size:2.5rem;
}

form{
    margin:3rem 0rem 5rem 1rem;
}

form select,button,input{
    width:100%;
    height:2.3rem;
    border:none;
    outline:none;
    border-radius:0.75rem;
}

form input{
    border:1px solid lightgrey;
    font-family:'Times New Roman', Times, serif;
    font-size:1.2rem;
    height:3rem;
    padding-left:0.5rem;
}

.drop-down{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:2rem;
    
}

.select-container img{
    max-width:2rem;
}

.select-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:8rem;

}

.msg{
    text-align:center;
    margin:2rem;
    font-size:1.2rem;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
form button{
    height:4rem;
    font-size:1.15rem;
    cursor: pointer;
    background-color:darkblue;
    color:white;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e)

}