*{
    margin:0;
    padding:0;

}
body{
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    text-align:center;
}

h1{
    
    font-size:10vmin ;
    margin-top:2vmin;
    color:rgb(49, 47, 47);
    text-shadow:2px 2px rgb(164, 163, 163);
}

.container{
    height:60vmin;
     display:flex;
    justify-content: center;
    align-items: center;
   

}

.game{
    margin:auto;
    width:50vmin;
    display:grid;
    grid-template-columns: repeat(3, 1fr); 
    gap:1.5vmin;
    aspect-ratio:1/1;


     
}

.box{
    aspect-ratio: 1/1;
    border-radius:15%;
    border:none;
    box-shadow:0 0 1rem rgb(55, 54, 54);
    font-size: clamp(2rem, 8vmin, 6rem);
    font-weight: 900;
    color:#ff5f6d;
    font-family:cursive;
    background-color:blanchedalmond;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.box:hover{
    box-shadow: 0 0 1.2rem rgb(80, 80, 80);
    background-color:navajowhite;
}

.box:active{
    background-color:rgb(255, 255, 255);
    box-shadow:0 0 0.5rem rgba(0,0,0,0.3);
}


#reset{
    padding:1rem 2rem;
    max-width: 80%;                      /* prevent being too wide */
    font-size: clamp(1rem, 3vmin, 2rem);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    border-radius:300px;
    border:none;
    box-shadow:0 0 1rem rgb(55, 54, 54);
    color:rgb(251, 42, 42);
    background: linear-gradient(90deg, #ffb6b9 0%, #fad0c4 50%, #ffd6e0 100%);
    



}

#reset:hover{
   background:  linear-gradient(87deg,#f7ffb7 0,#ffabf7 100%);


}

#msg{
    margin-top:5vmin;
    font-size:5vmin;
    font-family: cursive;
    font-weight: 600;
    color:lightgoldenrodyellow;
     

}

